* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#welcome-section {
  font-size: 20px;
  font-weight: 100;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;

  padding: 20px 10px 30px;
  text-align: center;
}

#welcome-section p {
  font-size: 16px;
  font-weight: 100;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.project-tile a {
  padding-bottom: 10px;
  align-self: center;
}

.project-tile p {
  padding-bottom: 20px;
  line-height: 125%;
  text-align: center;
}

.project-tile img {
  width: 100%;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  #welcome-section {
    padding-bottom: 60px;
  }

  .project-tile {
    flex-direction: row;
  }

  .project-tile a {
    align-self: flex-start;
    padding-left: 20px;
  }

  .project-tile p {
    text-align: left;
    padding-left: 20px;
  }

  footer {
    padding: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-tile {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
  }
}
