body {
  font-family: "SelaneWebSTTwenty", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

a {
  font-weight: bold;
}

#header {
  padding: 15px 0px 10px 0px;
}

#wikipedia-logo {
  height: 50px;
  width: auto;
}

#wikipedia-text {
  height: 50px;
  width: auto;
}

.link-boxes {
  padding: 10px 0px 10px 0px;
}
