body {
  background-color: pink;
}

html,
body {
  height: 100%;
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.week {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.day {
  flex-grow: 1;
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
